spring:
  application:
    name: resume-builder-backend

  datasource:
    url: jdbc:mysql://${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

server:
  port: ${PORT:8080}



app:
  jwt:
    secret: dGhpc0lzQVZlcnlMb25nU3VwZXJTZWNyZXRLZXlGb3JKV1RTaWduaW5nMjAyNg==
    expiration-ms: 86400000

  oauth2:
    authorized-redirect-uri: http://localhost:5173/auth/callback

logging:
  level:
    org.springframework.security: INFO
